* {
	font-family: "Montserrat", "Courier New", Courier, monospace;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: bisque;
}

button {
	border: none;
	cursor: pointer;
}

.container {
	padding: 25px;
	margin: 20px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	max-width: 400px;
}

.heading {
	color: chocolate;
}

.main-heading {
	font-size: 24px;
	font-weight: bold;
}

.sub-heading {
	font-size: 14px;
}

.task-container {
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	display: flex;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

.task-container div {
	display: flex;
	align-items: center;
	flex: 1;
	gap: 10px;
	word-break: break-all;
}

.task-container label {
	font-size: 14px;
	font-weight: 500;
	color: chocolate;
}

.task-container input:checked + label {
	color: gray;
	text-decoration: line-through;
}

.task-container .delete-button {
	background-color: rgb(255, 225, 225);
	cursor: pointer;
	padding: 4px;
	border-radius: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 10px;
	height: max-content;
}

.task-container .delete-icon {
	font-size: 16px;
	color: orangered;
}

.input-container {
	background-color: cornsilk;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	gap: 10px;
	display: flex;
	flex-direction: column;
}

.input-container .button-container {
	display: flex;
	justify-content: flex-end;
}

.input-container .button-container button {
	background-color: moccasin;
	padding: 5px;
	border-radius: 5px;
	color: chocolate;
	font-weight: 500;
}

.input-container .button-container button:hover {
	background-color: rgba(255, 233, 154, 0.85);
}

.input-container .button-container button:active {
	background-color: rgba(255, 233, 154, 0.7);
}
